.class-user {
    height: 300px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.diplay-user{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
    margin-top: 3%;
    gap: 5%;
}

.class-user input {
    width: 250px;
    height: 40px;
    display: block;
    margin-top: 2%;
}

.class-user button {
    width: 250px;
    height: 45px;
    background-color: olivedrab;
    display: block;
    margin-top: 2%;

}